@font-face {
    font-family: 'Zain-Regular';
    src: url('../fonts/Zain-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zain-Italic';
    src: url('../fonts/Zain-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Zain-Bold';
    src: url('../fonts/Zain-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zain-Italic';
    src: url('../fonts/Zain-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Zain-Bold', sans-serif;
    color: #333;
}

.card {
    overflow: hidden;
    border-radius: 30px;
    aspect-ratio: 4 / 3;
    width: 100%;
}
.card-title {
    font-family: 'Zain-Bold', sans-serif;
    color: #fff;
    line-height: 0.8;
    margin: 0;
}
.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}